@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
nav {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #9fc5f8;
  color: white;
  align-items: center;
}
nav a {
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}
main {
  display: flex;
  margin: auto;
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
}
.subheader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  align-items: center;
}
.subheader h3{
  margin-left: 10px;
}
#temp {
  display: flex;
}
#temp p,
select {
  margin-left: 10px;
  margin-right: 10px;
}
#weather {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.card-weather {
  width: 200px;
  height: 300px;
  background-color: #EEEEEE;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  
}
.img{
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.temp-selected{
  display: flex;
}
.num{
  margin: 5px;
}
.num-1{
  color: red;
}
.num-2{
  color: blue;
}
.img-1{
  background-image: url('../assets/some_rain.png');
}
.img-2{
  background-image: url('../assets/some_sun.png');
}
.img-3{
  background-image: url('../assets/some_clouds.png');
}
.img-4{
  background-image: url('../assets/some_sun.png');
}


@media (max-width: 486px) {
  .subheader{
    display: flex;
    justify-content: space-around;
  }
  .card-weather {
    width: 100%;
    height: 35vh;
  }
  .ciudad{
    font-size: 1.5vh;
  }
}